{% extends 'base.html' %}

{% block title %}PCT Script Creator{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock %}

{% block content %}
<div class="header">
    <a href="{{ url_for('home') }}"><button class="home"><i class="fa fa-home"></i> Home</button></a>
    <h1>Script Creator</h1>
</div>
		<div class="container">
				<h4>Direct Zelle Default Setup</h4>
			{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
         <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}


	{% for field, errors in form.errors.items() %}
    <small class="error">
		<p>{{ ', '.join(errors) }}</p>
    </small>
  {% endfor %}


<div class="d-flex">
                <form method="POST" action="{{ url_for('zelle') }}" novalidate>
			    {{ form.csrf_token }}
                    <div class="d-inline-block split-screen">
			    <p>
				{{ form.home_id.label }}<br>{{ form.home_id(size=50, type="number", pattern="[0-9]{8}") }}
			    </p>
                 <p>
				{{ form.partner_id.label }}  <br> {{ form.partner_id(size=50, type="number", pattern="[0-9]") }}
                 </p>
			    <p>
				{{ form.rtn.label }}  <br> {{ form.rtn(size=50, type="number", pattern="[0-9]", value="999999999") }}
			    </p>
						<p>
				{{ form.reply_email.label }} <br>  {{ form.reply_email(size=50) }}
			    </p>
							<p>
				{{ form.home_page.label }} <br>  {{ form.home_page(size=50) }}
			    </p>
								<p>
				{{ form.qa_org.label }} <br>  {{ form.qa_org(size=50) }}
			    </p>
								<p>
				{{ form.cert_org.label }} <br>  {{ form.cert_org(size=50) }}
			    </p>
						<p>
				{{ form.pod_number.label }} <br>  {{ form.pod_number(class='drop-field') }}
			    </p>

						<p>
				{{ form.cert_domain.label }} <br>  {{ form.cert_domain(size=50, placeholder='eg: https://cwp411-cert.checkfreeweb.com') }}
			    </p>
						 <p>
				{{ form.danal.label }} <br>  {{ form.danal(size=50) }}
			    </p>
						 <p>
				{{ form.instant_connectivity.label }} <br>  {{ form.instant_connectivity(class='drop-field') }}
			    </p>


                    </div>

     <div class="d-inline-block">
			    <p>
				{{ form.fi_name.label }} <br> {{ form.fi_name(size=50) }}
			    </p>
			   <p>
				{{ form.bug_id.label }} <br>  {{ form.bug_id(size=50, pattern="[0-9]") }}
			    </p>
         <p>
				{{ form.csr_email.label }} <br>  {{ form.csr_email(size=50) }}
			    </p>
		 <p>
				{{ form.csr_phone.label }} <br>  {{ form.csr_phone(size=50) }}
			    </p>
		 		<p>
				{{ form.stage_org.label }} <br>  {{ form.stage_org(size=50) }}
			    </p>
		 		<p>
				{{ form.prod_org.label }} <br>  {{ form.prod_org(size=50) }}
			    </p>
		 		<p>
				{{ form.custom_domain.label }} <br>  {{ form.custom_domain(class='drop-field') }}
			    </p>
		 				 <p>
				{{ form.prod_domain.label }} <br>  {{ form.prod_domain(size=50, placeholder='eg: https://cwp411.checkfreeweb.com') }}
			    </p>
		 	 <p>
				{{ form.ach.label }} <br>  {{ form.ach(size=50, style="text-transform:uppercase", pattern="[A-Za-z]", maxlength="16") }}
			    </p>

		 <p>
				{{ form.verid.label }} <br>  {{ form.verid(size=50, value='CashEdge:Development') }}
			    </p>
     </div>
			    <input type=submit value="Generate Script" class="submit">
			</form>
			</div>
            </div>
{% endblock %}